<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Company</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>
</nav>

<section class="mt-5" id="new">
<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-10">
          All companies
        </div>
        <div class="col-md-2 float-left">
          
            <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#exampleModal">
              Add New
            </button>
          
        </div>
    </div>

    </div>
    <div class="card-body">
      <h5 class="card-title">Company details</h5>
      
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Foundation Year</th>
            <th scope="col">GST NO</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let company of companies;let index = index;">
            <th scope="row">{{index+1}}</th>
            <td><input type="text" class="form-control" name="companyid-{{index}}" id="companyid-{{index}}" [(ngModel)] ="company.name"   aria-describedby="emailHelp"></td>
            <td><input type="text" class="form-control" name="address-{{index}}" id="address-{{index}}" [(ngModel)] ="company.address"   aria-describedby="emailHelp"></td>
            <td><input type="text" class="form-control" name="phone-{{index}}" id="phone-{{index}}" [(ngModel)] ="company.phone"   aria-describedby="emailHelp"></td>
            <td><input type="text" class="form-control" name="year-{{index}}" id="year-{{index}}" [(ngModel)] ="company.foundationyear"   aria-describedby="emailHelp"></td>
            <td><input type="text" class="form-control" name="gst-{{index}}" id="gst-{{index}}" [(ngModel)] ="company.GSTNo"   aria-describedby="emailHelp"></td>
            <td><a href="#" id="editbtn-{{index}}" (click)="editCompany(companies[index])" class="btn btn-success">Edit</a></td>
          </tr>
        </tbody>
      </table>
     
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new company</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="isFormShow; else showSuccessMessage" >
        <form (ngSubmit)="postCompanyDetails()">
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" [(ngModel)] ="Companyname" name="Companyname" id="Companyname" aria-describedby="emailHelp">
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Address</label>
            <input type="text" class="form-control" [(ngModel)] ="Companyaddress" name="Companyaddress" id="Companyaddress">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Phone</label>
            <input type="text" class="form-control" [(ngModel)] ="Companyphone" name="Companyphone" id="Companyphone">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Foundation Year</label>
            <input type="text" class="form-control" [(ngModel)] ="Companyear" name="Companyear" id="Companyear">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">GST No</label>
            <input type="text" class="form-control" [(ngModel)] ="Companygst" name="Companygst" id="Companygst">
          </div>
          
       
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <ng-template #showSuccessMessage>
        <div style="text-align: center;">
        <img src="https://i.ibb.co/4P4JMZY/update-success.gif" alt="update-success" border="0"
        style="max-height:90px;max-width:90px;">
        <h4>Successfully Saved Company Details</h4>
        </div>
      </ng-template>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
</div>
</section>
<!-- Toolbar -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>